#block1, #block2 , #block3 {
  position: absolute;
  top:        100px;
  left:       40px;
  width:      200px;
  height:     100px;
  background: #DDD;
  font-size:  16px;
  color:      #000;
  overflow: hidden;
}

#block2 {
  left: 240px;
}

#ball  {
  position: absolute;
  top:        0px;
  left:       0px;
  width:      85px;
  height:     86px;
  overflow: hidden;
  background: url(ball.gif);
}

.demo_container {
  float:left;
  margin: 10px;
  text-align: center;
  border: 1px solid #9ABE8B;
  padding:0.3em;
  width: 12em;
}

.demo_container .player {
  font-size: smaller;
  padding: 0.2em;
}

.demo_container .counter {
  font-size: smaller;
  padding: 0.4em;
}

.demo_container .player .reverse {
  white-space: nowrap;
}

.demo_container a {
  color: #2D99CD;
}

.demo {
  float: left;
  width: 100%;
  background: #DDD;
  cursor: pointer;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1.6em;
  font-size: 1.5em;
  overflow: hidden;
}